
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<label>Ingrese numero 1</label>
<input type="text" id="txtnumero1"/>
<label> Ingrese numero 2</label>
<input type="text" id="txtnumero2"/>
<input type="button" value="Sumar" id="btnSumar"/>
<input type="button" value="Limpiar" id="btnLimpiar"/>
<label id="lblRespuesta"></label>
<script src="~/scripts/sumar.js"></script>