
@{
    ViewBag.Title = "Tabla";
}

<h2>Tabla</h2>

<table class="table">
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Apellido Paterno</td>
            <td>Apellido Materno</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Eduardo</td>
            <td>Cadenas</td>
            <td>Sarabia</td>
        </tr>
        <tr>
            <td>Andres</td>
            <td>Cadenas</td>
            <td>Lopez</td>
        </tr>
    </tbody>
</table>